@font-face {
	font-family: 'icons';
	src: url("/assets/fonts/icons.eot?sci1r2");
	src: url("/assets/fonts/icons.eot?#iefixsci1r2") format("embedded-opentype"), url("/assets/fonts/icons.woff?sci1r2") format("woff"), url("/assets/fonts/icons.ttf?sci1r2") format("truetype"), url("/assets/fonts/icons.svg?sci1r2#icons") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
	content: "\f002";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-remove:before {
	content: "\f00d";
}
.icon-times:before {
	content: "\f00d";
}
.icon-home:before {
	content: "\f015";
}
.icon-download:before {
	content: "\f019";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-comments:before {
	content: "\f086";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-navicon:before {
	content: "\f0c9";
}
.icon-reorder:before {
	content: "\f0c9";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-instagram:before {
	content: "\f16d";
}
