.market-list {

}
.vr-line {
	background-color: $light-grey;
	position: absolute;
	height: 100%;
	width: 3px;
	left: 25%;
	transform: translateX(-4px);
}

.market-list {
	list-style: none;
	padding-left: 0;
}

.market-list > li:last-child .market-details {
	margin-bottom: 0;
}

.market {
	@include clearfix();
	position: relative;
}

.market.done {
	color: $light-grey;
	.check {
		background-color: $light-grey;
	}
	a {
		color: $light-grey;
	}
}

.market .check {
	background: #fff;
	border: 3px solid $light-grey;
	color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	line-height: 20px;
	text-align: center;
	z-index: 1;
	left: auto;
	right: -10px;
}

.market.current .check {
	background-color: $highlight;
	border-color: $highlight;
}
.market.current .vr-line {
	background-color: $highlight;
}

.market-info {
	float: left;
	width: 25%;
	padding-right: 30px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	font-size: 0.85em;
	padding-top: 3px;
}

.market-date {
	font-weight: 700;
}

.market-details {
	float: left;
	width: 75%;
	padding-left: 30px;
	margin-bottom: 50px;
	@include respond-to(large) {
		width: 50%;
	}
}