.market-list {
	padding-top: 30px;
	@include respond-to(medium) {
		padding-top: 60px;
	}
}
.market-info {
	border-bottom: 1px solid $lighter-grey;
	padding-bottom: 20px;
	margin-bottom: 20px;
	@include clearfix();
	@include respond-to(medium) {
		padding-bottom: 30px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
		max-width: 640px;
		.market-banner {
			margin-right: 20px;
			float: left;
			max-width: 25%;
		}
	}

}
