.services .site-header {
	padding-bottom: 59px;
}


.services-section {
	border-bottom: 1px solid #f2f2f2;
	@include respond-to(medium) {
		min-height: 500px;
	}
}

.services-section .container {
	padding-top: 40px;
	padding-bottom: 40px;
	@include respond-to(medium) {
		padding: 100px 100px 200px;
	}
}

.services-section .content {
	@include respond-to(medium) {
		padding-right: 50%;
	}
}
