*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-color: $site_background;
	//min-height: 100%;
}

.clearfix, .cf {
	*zoom: 1;
	&:after {
		clear: both;
		content: " ";
		display: table;
	}
	&:before {
		content: " ";
		display: table;
	}
}
