.btn {
	background-color: $lighter-grey;
	color: $light-grey;
	border-radius: 3px;
	border: 0 none;
	padding: 8px 15px;
	display: inline-block;
	font-weight: bold;
	&:hover,
	&:active {
		text-decoration: none;
	}
	&:focus {
		outline: 0 none;
	}
}


.btn-action {
	background-color: $highlight;
	color: #fff;
	&:hover,
	&:active {
		background-color: darken($highlight, 20%);
		color: #fff;
	}
	&:active {
		color: #fff;
	}
}

.btn-action-ghost {
	background: transparent;
	border: 2px solid $highlight;
	color: $highlight;
	&:hover,
	&:active {
		background-color: darken($highlight, 20%);
		border-color: darken($highlight, 20%);
		color: #fff;
	}
}

.btn-action-inv {
	background-color: #fff;
	color: $highlight;
	&:hover,
	&:active {
		background-color: #fff;
		background-color: rgba(255,255,255,0.95);
		color: darken($highlight, 20%);
	}
}