.control-group {
	margin-bottom: 10px;
}

.control-label {
	display: block;
}
.form-control {
	border: 1px solid $light-grey;
	border-radius: 3px;
	display: inline-block;
	height: 34px;
	padding: 5px 8px;
}

.form-control:focus {
	border-color: $highlight;
	outline: 0 none;
}