a {
	color: $highlight;
	text-decoration: none;
	@include transition(color, 280ms, cubic-bezier(.4, 0, .2, 1));
	&:hover {
		color: darken($highlight, 20%);
		text-decoration: underline;
	}
	&:active {
		color: darken($highlight, 20%);

		text-decoration: none;
	}
	&:focus {
		outline: 0 none;
	}
}
