// Site Header

.site-header {
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	@include clearfix();
	@include respond-to(large) {
		padding: 40px 0 30px;
	}
	position: relative;
	z-index: 200;
}
