body {
	border: 0 solid $background;
	height: 100%;
	@include respond-to(small) {
		border-top-width: 10px;
	}
}

.container {
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	@include clearfix();
}

.site-content {
	background: #ffffff;
	height: 100%;
	@include respond-to(large) {
		//padding-top: 20px;
	}
}