body {
	border: 0 solid $background;
	height: 100%;
	padding-top: 99px;

	@include respond-to(small) {
		//border-top-width: 10px;
	}
	@include respond-to(medium) {
		padding-top: 0;
	}
}

.container {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	@include clearfix();
}

.site-container {
	background: #fff;
	@include respond-to(wide) {
		margin: 0 auto;
		max-width: 1300px;
	}
}

.site-content {
	background: #ffffff;
	height: 100%;
	@include respond-to(large) {
		//padding-top: 20px;
	}
}

.newsletter {
	background-color: $highlight;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #fff;
	.form-control {
		border-color: #fff;
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	.btn {
		display: block;
		width: 100%;
	}
	h5 {
		margin-bottom: 20px;
	}
	@media screen and (min-width: 500px) {
		.form-control {
			display: inline-block;
			width: 60%;
		}
		.btn {
			display: inline-block;
			width: auto;
		}
	}
	@include respond-to(large) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.newsletter__form {
	max-width: 420px;
	margin: 0 auto;
	@media screen and (min-width: 500px) {

	}
}