.page-header {
	//background: #fff;
	padding: 0 0 20px;
	text-align: center;
	@include respond-to(medium) {
		margin-bottom: 60px;
		padding: 40px 20px;
	}
}

.page-content {
	margin-bottom: 30px;
	@include respond-to(large) {
		margin-bottom: 60px;
	}
}
