.site-hero {
	background-color: #DDD9DA ;
	position: relative;
	overflow: hidden;
	@include respond-to(large) {
		background: #DDD9DA  url('/assets/images/home-page-hero.jpg') no-repeat 35% top;
		background-position: top right;
		background-size: cover;
		height: 680px;
	}
}

.home-hero-mobile {
	display: block;
	margin: 0 auto;
	@include respond-to(large) {
		display: none;
	}
}

.hero-image {
	position: absolute;
	top: 0;
	left: 0;
}

.site-intro {
	//color: #fff;
	color: $mid-grey;
	position: relative;
	padding: 30px;
	z-index: 1;
	h2 {
		font-size: 1.15em;
		font-weight: 500;
	}
	@include respond-to(small) {
		h2 {
			font-size: 1.25em;
		}
	}
	@include respond-to(large) {
		width: 520px;
		top: 50px;
		left: 50px;
		padding-right: 0;
		h2 {
			font-size: 1.65em;
		}
	}
}