.site-hero {
	background: #DDD9DA url('/assets/images/home-page-hero.jpg') no-repeat 35% top;
	background-size: cover;
	position: relative;
	overflow: hidden;
	@include respond-to(large) {
		background-position: top right;
		height: 680px;
	}
}

.hero-image {
	position: absolute;
	top: 0;
	left: 0;
}

.site-intro {
	//color: #fff;
	color: $mid-grey;
	position: relative;
	padding: 30px;
	z-index: 1;
	h2 {
		font-size: 1.15em;
		font-weight: 500;
	}
	@include respond-to(small) {
		padding-right: 50%;
		h2 {
			font-size: 1.25em;
		}
	}
	@include respond-to(large) {
		width: 520px;
		top: 50px;
		left: 50px;
		padding-right: 0;
		h2 {
			font-size: 1.65em;
		}
	}
}