.newsletter {
	background-color: #F9F8FD;
	background-image: linear-gradient(45deg, rgba(112,221,190,0.55) 0%, rgba(112,221,190,0.00) 100%);
}

.newsletter > .container {
	max-width: 540px;
	margin: 0 auto;
}

.newsletter__form {
	.form__control {
		margin-bottom: 0.5rem;
	}

	.btn {
		width: 100%;
		height: 40px;
	}

	@include respond-to-min(medium) {
		.form__control {
			width: 70%;
			display: inline-block;
		}
		.btn {
			width: 28%;
			display: inline-block;
		}
	}

}


