/*	==================================

	:: Variables

	* All values in 'em' using 16px as a base
	* These are applicable to the frame

=================================== */

/*	==================================
	:: Utilities
=================================== */

// Set the base grid gutter
$gutter: 1rem;

// Set a base border radius
$radius: 3px;


/*	==================================
	:: Widths

	- Adjust to suit your design
=================================== */


// Narrow
$narrow: 22.5em; //360
// Small
$small: 30em; // 480
// Medium
$medium: 45em; // 720
// Large
$large: 60em; // 960
// Wide
$wide: 87.5em; // 1400
// Ultra Wide
$uwide: 100em; // 1600

// Max Width
$mw-100: 100%;
$mw5: 75em;
$mw4: 61.25em;
$mw3: 48.75em;
$mw2: 40em;
$mw1: 31.25em;
$mw-none: initial;

// Site Max Width
$container-width: 80rem;

/*	==================================
	:: Typography

	- Adjust to suit your design
=================================== */

// Type Scale
$f-headline: 6rem;

$f-subheadline: 5rem;

$f1: 3rem; //30px
$f2: 2.25rem;
$f3: 1.5rem;
$f4: 1.25rem;
$f5: 1rem;
$f6: 0.75rem;

// Line Height

$lh-solid: 1;
$lh-title: 1.3;
$lh-copy: 1.625;

// Tracking

$tracked-base: 0.16em;
$tracked-tight: -0.05em;
$tracked-mega: 0.32em;

/*	==================================
	:: Fonts
=================================== */

// Base Font Size
$fs-base: 16px;

// Families
$serif: 'Chronicle Display', 'Garamond', Georgia, Times New Roman, serif;
$san-serif: 'RM Pro', Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;

$ff-primary: $san-serif;
$ff-secondary: $serif;

/*	==================================
	:: Spacing
=================================== */

$spacing-none: 0;
$spacing-xs: 1rem;
$spacing-sm: 1.5rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;
$spacing-xlg: 4rem;
$spacing-xxlg: 8rem;
$spacing-xxxlg: 16rem;

/*	==================================
	:: Third Party Colours
=================================== */

// Twitter
$twitter: #55acee;
$twitter-active: #41b7d8;

// Facebook
$facebook: #3b5997;
$facebook-active:#263960;

// Google
$google: #d64937;
$google-active: #a02f21;

// LinkedIn
$linkedin: #0073b2;
$linkedin-active: #004265;

// Pinterest
$pinterest: #cb2027;
$pinterest-active: #89161a;

// Instagram
$instagram: #3f729b;
$instagram-active: darken($instagram, 10%);

// Dribbble
$dribbble: #ea4c89;
$dribbble-active: darken($dribbble, 10%);

// Behance
$behance: #3a3838;
$behance-active: #131212;

// Youtube
$youtube: #e52d27;
$youtube-active: #b31217;

// Vine
$vine: #00b488;
$vine-active: darken($vine, 10%);

// Vimeo
$vimeo: #1ab7ea;
$vimeo-active: darken($vimeo, 10%);

/*	==================================
	:: Brand
=================================== */

$base: #363537;
$near-base: lighten($base, 2.5%);
$dark-base: lighten($base, 5%);
$light-base: lighten($base, 50%);
$lighter-base: lighten($base, 60%);
$lightest-base: lighten($base, 70%);

$brand-primary: #8ECEAC;
$brand-primary-darken: darken($brand-primary, 24%);
$brand-secondary: #90D7FF;
$brand-tertiary: #F7B2AD;

$cubic-bezier: cubic-bezier(0.16,1,0.24,1);

/*	==================================
	COLOURS :: GLOBAL NAVIGATION
=================================== */

$nav-bg: transparent;
$nav-link-text: $brand-primary-darken;
$nav-link-text--hover: $base;
$nav-link-text--active: $base;

$nav-bg-off-canvas: $brand-primary;
$nav-link-text-off-canvas: darken($brand-primary, 32%);
$nav-link-text-off-canvas--hover: #fff;
$nav-link-text-off-canvas--active: #fff;