/*	==================================

	:: Colours

=================================== */

$black: #000;
$near-black: #111;
$dark-gray: #333;
$mid-gray: #555;
$gray: #777;
$light-gray: #999;
$lighter-gray: #aaa;
$lightest-gray: #ccc;
$gray-white: #eee;
$near-white: #f4f4f4;
$white: #fff;

$c-black-90: rgba(0,0,0,0.9);
$c-black-80: rgba(0,0,0,0.8);
$c-black-70: rgba(0,0,0,0.7);
$c-black-60: rgba(0,0,0,0.6);
$c-black-50: rgba(0,0,0,0.5);
$c-black-40: rgba(0,0,0,0.4);
$c-black-30: rgba(0,0,0,0.3);
$c-black-20: rgba(0,0,0,0.2);
$c-black-10: rgba(0,0,0,0.1);
$c-black-05: rgba(0,0,0,0.05);
$c-black-025: rgba(0,0,0,0.025);
$c-black-0125: rgba(0,0,0,0.0125);