/*	==================================
	:: Display
=================================== */

.dn {
	display: none;
}

.di {
	display: inline;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.dit {
	display: inline-table;
}

.dt {
	display: table;
}

.dtc {
	display: table-cell;
}

.dt-row {
	display: table-row;
}

.dt-row-group {
	display: table-row-group;
}

.dt-column {
	display: table-column;
}

.dt-column-group {
	display: table-column-group;
}

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
	table-layout: fixed;
	width: 100%;
}

@include respond-to-min(narrow) {
	.dn-nw {
		display: none;
	}
	.di-nw {
		display: inline;
	}
	.db-nw {
		display: block;
	}
	.dib-nw {
		display: inline-block;
	}
	.dit-nw {
		display: inline-table;
	}
	.dt-nw {
		display: table;
	}
	.dtc-nw {
		display: table-cell;
	}
	.dt-row-nw {
		display: table-row;
	}
	.dt-row-group-nw {
		display: table-row-group;
	}
	.dt-column-nw {
		display: table-column;
	}
	.dt-column-group-nw {
		display: table-column-group;
	}

	.dt--fixed-nw {
		table-layout: fixed;
		width: 100%;
	}
}

@include respond-to-min(small) {
	.dn-sm {
		display: none;
	}
	.di-sm {
		display: inline;
	}
	.db-sm {
		display: block;
	}
	.dib-sm {
		display: inline-block;
	}
	.dit-sm {
		display: inline-table;
	}
	.dt-sm {
		display: table;
	}
	.dtc-sm {
		display: table-cell;
	}
	.dt-row-sm {
		display: table-row;
	}
	.dt-row-group-sm {
		display: table-row-group;
	}
	.dt-column-sm {
		display: table-column;
	}
	.dt-column-group-sm {
		display: table-column-group;
	}

	.dt--fixed-sm {
		table-layout: fixed;
		width: 100%;
	}
}

@include respond-to-min(medium) {
	.dn-md {
		display: none;
	}
	.di-md {
		display: inline;
	}
	.db-md {
		display: block;
	}
	.dib-md {
		display: inline-block;
	}
	.dit-md {
		display: inline-table;
	}
	.dt-md {
		display: table;
	}
	.dtc-md {
		display: table-cell;
	}
	.dt-row-md {
		display: table-row;
	}
	.dt-row-group-md {
		display: table-row-group;
	}
	.dt-column-md {
		display: table-column;
	}
	.dt-column-group-md {
		display: table-column-group;
	}

	.dt--fixed-md {
		table-layout: fixed;
		width: 100%;
	}
}

@include respond-to-min(large) {
	.dn-lg {
		display: none;
	}
	.di-lg {
		display: inline;
	}
	.db-lg {
		display: block;
	}
	.dib-lg {
		display: inline-block;
	}
	.dit-lg {
		display: inline-table;
	}
	.dt-lg {
		display: table;
	}
	.dtc-lg {
		display: table-cell;
	}
	.dt-row-lg {
		display: table-row;
	}
	.dt-row-group-lg {
		display: table-row-group;
	}
	.dt-column-lg {
		display: table-column;
	}
	.dt-column-group-lg {
		display: table-column-group;
	}

	.dt--fixed-lg {
		table-layout: fixed;
		width: 100%;
	}
}

@include respond-to-min(wide) {
	.dn-wd {
		display: none;
	}
	.di-wd {
		display: inline;
	}
	.db-wd {
		display: block;
	}
	.dib-wd {
		display: inline-block;
	}
	.dit-wd {
		display: inline-table;
	}
	.dt-wd {
		display: table;
	}
	.dtc-wd {
		display: table-cell;
	}
	.dt-row-wd {
		display: table-row;
	}
	.dt-row-group-wd {
		display: table-row-group;
	}
	.dt-column-wd {
		display: table-column;
	}
	.dt-column-group-wd {
		display: table-column-group;
	}

	.dt--fixed-wd {
		table-layout: fixed;
		width: 100%;
	}
}