/*	==================================
	:: Forms
=================================== */

.input-reset {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
	border: 0;
	padding: 0;
}

:focus {
	outline: none;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}

/*	==================================

	:: Forms

=================================== */

.control__group {
	position: relative;
	margin-bottom: 20px;
}

.form__label {
	color: $base;
	font: 500 0.75em $ff-primary;
	display: inline-block;
	padding: 4px 0;
	text-transform: uppercase;
}

.form__control {
	background: #fff;
	border: 1px solid $lighter-base;
	font: 0.875em $ff-primary;
	border-radius: 0;
	padding: 0.75em;
	width: 100%;
	transition: all 350ms ease-in-out;
}

select.form__control {
	border-radius: 0;
}

.form__control:focus {
	//border: 1px solid $form-border--focus;
	//box-shadow: inset 0px 3px 10px #bdc3a6;
}
//
//.required {
//	color: $error;
//	font-size: 1.5em;
//	font-weight: 600;
//	top: 4px;
//	margin-left: 0.25em;
//}
//
//.error > .controls > .form__control {
//	border-color: $error;
//}
//
//.help-block {
//	color: $error;
//}

.help-block ul {
	font: normal 0.825em $ff-primary;
	list-style: none;
	padding: 0.5em 0;
	margin: 0;

}

.terms {
	font: 0.875em $ff-primary;
}
