/*	==================================
	:: Grid
=================================== */

// Common
.container {
	max-width: $container-width;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	margin-left: -$gutter;
	margin-right: -$gutter;
	min-height: 1px;
}

.col {
	float: left;
    padding-right: $gutter;
    padding-left: $gutter;
	position: relative;
}

// Narrow Grid

.col--one    {
	width: 8.333333333333%;
}
.col--two    {
	width: 16.66666666666%;
}
.col--three  {
	width: 24.99999999999%;
}
.col--four   {
	width: 33.33333333333%;
}
.col--five   {
	width: 41.66666666666%;
}
.col--six    {
	width: 50%;
}
.col--seven  {
	width: 58.33333333331%;
}
.col--eight  {
	width: 66.66666666664%;
}
.col--nine   {
	width: 74.99999999997%;
}
.col--ten    {
	width: 83.33333333333%;
}
.col--eleven {
	width: 91.66666666663%;
}
.col--twelve {
	width: 100%;
}

.push-by-twelve {
  margin-left: 100%;
}
.push-by-eleven {
  margin-left: 91.66666667%;
}
.push-by-ten {
  margin-left: 83.33333333%;
}
.push-by-nine {
  margin-left: 75%;
}
.push-by-eight {
  margin-left: 66.66666667%;
}
.push-by-seven {
  margin-left: 58.33333333%;
}
.push-by-six {
  margin-left: 50%;
}
.push-by-five {
  margin-left: 41.66666667%;
}
.push-by-four {
  margin-left: 33.33333333%;
}
.push-by-three {
  margin-left: 25%;
}
.push-by-two {
  margin-left: 16.66666667%;
}
.push-by-one {
  margin-left: 8.33333333%;
}
.push-by-none {
  margin-left: 0%;
}

.pull-by-twelve {
  margin-right: 100%;
}
.pull-by-eleven {
  margin-right: 91.66666667%;
}
.pull-by-ten {
  margin-right: 83.33333333%;
}
.pull-by-nine {
  margin-right: 75%;
}
.pull-by-eight {
  margin-right: 66.66666667%;
}
.pull-by-seven {
  margin-right: 58.33333333%;
}
.pull-by-six {
  margin-right: 50%;
}
.pull-by-five {
  margin-right: 41.66666667%;
}
.pull-by-four {
  margin-right: 33.33333333%;
}
.pull-by-three {
  margin-right: 25%;
}
.pull-by-two {
  margin-right: 16.66666667%;
}
.pull-by-one {
  margin-right: 8.33333333%;
}
.pull-by-none {
  margin-right: 0%;
}

@include respond-to-min(medium) {

	.col-md--one {
		width: 8.333333333333%;
	}
	.col-md--two {
		width: 16.66666666666%;
	}
	.col-md--three {
		width: 24.99999999999%;
	}
	.col-md--four {
		width: 33.33333333333%;
	}
	.col-md--five {
		width: 41.66666666666%;
	}
	.col-md--six {
		width: 50%;
	}
	.col-md--seven {
		width: 58.33333333331%;
	}
	.col-md--eight {
		width: 66.66666666664%;
	}
	.col-md--nine {
		width: 74.99999999997%;
	}
	.col-md--ten {
		width: 83.33333333333%;
	}
	.col-md--eleven {
		width: 91.66666666663%;
	}
	.col-md--twelve {
		width: 100%;
	}

	.push-md-by-twelve {
		left: 100%;
	}
	.push-md-by-eleven {
		left: 91.66666667%;
	}
	.push-md-by-ten {
		left: 83.33333333%;
	}
	.push-md-by-nine {
		left: 75%;
	}
	.push-md-by-eight {
		left: 66.66666667%;
	}
	.push-md-by-seven {
		left: 58.33333333%;
	}
	.push-md-by-six {
		left: 50%;
	}
	.push-md-by-five {
		left: 41.66666667%;
	}
	.push-md-by-four {
		left: 33.33333333%;
	}
	.push-md-by-three {
		left: 25%;
	}
	.push-md-by-two {
		left: 16.66666667%;
	}
	.push-md-by-one {
		left: 8.33333333%;
	}
	.push-md-by-none {
		left: 0%;
	}

	.pull-md-by-twelve {
		right: 100%;
	}
	.pull-md-by-eleven {
		right: 91.66666667%;
	}
	.pull-md-by-ten {
		right: 83.33333333%;
	}
	.pull-md-by-nine {
		right: 75%;
	}
	.pull-md-by-eight {
		right: 66.66666667%;
	}
	.pull-md-by-seven {
		right: 58.33333333%;
	}
	.pull-md-by-six {
		right: 50%;
	}
	.pull-md-by-five {
		right: 41.66666667%;
	}
	.pull-md-by-four {
		right: 33.33333333%;
	}
	.pull-md-by-three {
		right: 25%;
	}
	.pull-md-by-two {
		right: 16.66666667%;
	}
	.pull-md-by-one {
		right: 8.33333333%;
	}
	.pull-md-by-none {
		right: 0%;
	}

}

@include respond-to-min(large) {

	.col-lg--one {
		width: 8.333333333333%;
	}
	.col-lg--two {
		width: 16.66666666666%;
	}
	.col-lg--three {
		width: 24.99999999999%;
	}
	.col-lg--four {
		width: 33.33333333333%;
	}
	.col-lg--five {
		width: 41.66666666666%;
	}
	.col-lg--six {
		width: 50%;
	}
	.col-lg--seven {
		width: 58.33333333331%;
	}
	.col-lg--eight {
		width: 66.66666666664%;
	}
	.col-lg--nine {
		width: 74.99999999997%;
	}
	.col-lg--ten {
		width: 83.33333333333%;
	}
	.col-lg--eleven {
		width: 91.66666666663%;
	}
	.col-lg--twelve {
		width: 100%;
	}

	.push-lg-by-twelve {
		left: 100%;
	}
	.push-lg-by-eleven {
		left: 91.66666667%;
	}
	.push-lg-by-ten {
		left: 83.33333333%;
	}
	.push-lg-by-nine {
		left: 75%;
	}
	.push-lg-by-eight {
		left: 66.66666667%;
	}
	.push-lg-by-seven {
		left: 58.33333333%;
	}
	.push-lg-by-six {
		left: 50%;
	}
	.push-lg-by-five {
		left: 41.66666667%;
	}
	.push-lg-by-four {
		left: 33.33333333%;
	}
	.push-lg-by-three {
		left: 25%;
	}
	.push-lg-by-two {
		left: 16.66666667%;
	}
	.push-lg-by-one {
		left: 8.33333333%;
	}
	.push-lg-by-none {
		left: 0%;
	}

	.pull-lg-by-twelve {
		right: 100%;
	}
	.pull-lg-by-eleven {
		right: 91.66666667%;
	}
	.pull-lg-by-ten {
		right: 83.33333333%;
	}
	.pull-lg-by-nine {
		right: 75%;
	}
	.pull-lg-by-eight {
		right: 66.66666667%;
	}
	.pull-lg-by-seven {
		right: 58.33333333%;
	}
	.pull-lg-by-six {
		right: 50%;
	}
	.pull-lg-by-five {
		right: 41.66666667%;
	}
	.pull-lg-by-four {
		right: 33.33333333%;
	}
	.pull-lg-by-three {
		right: 25%;
	}
	.pull-lg-by-two {
		right: 16.66666667%;
	}
	.pull-lg-by-one {
		right: 8.33333333%;
	}
	.pull-lg-by-none {
		right: 0%;
	}

}

@include respond-to-min(wide) {

	.col-wd--one {
		width: 8.333333333333%;
	}
	.col-wd--two {
		width: 16.66666666666%;
	}
	.col-wd--three {
		width: 24.99999999999%;
	}
	.col-wd--four {
		width: 33.33333333333%;
	}
	.col-wd--five {
		width: 41.66666666666%;
	}
	.col-wd--six {
		width: 50%;
	}
	.col-wd--seven {
		width: 58.33333333331%;
	}
	.col-wd--eight {
		width: 66.66666666664%;
	}
	.col-wd--nine {
		width: 74.99999999997%;
	}
	.col-wd--ten {
		width: 83.33333333333%;
	}
	.col-wd--eleven {
		width: 91.66666666663%;
	}
	.col-wd--twelve {
		width: 100%;
	}

	.push-wd-by-twelve {
		left: 100%;
	}
	.push-wd-by-eleven {
		left: 91.66666667%;
	}
	.push-wd-by-ten {
		left: 83.33333333%;
	}
	.push-wd-by-nine {
		left: 75%;
	}
	.push-wd-by-eight {
		left: 66.66666667%;
	}
	.push-wd-by-seven {
		left: 58.33333333%;
	}
	.push-wd-by-six {
		left: 50%;
	}
	.push-wd-by-five {
		left: 41.66666667%;
	}
	.push-wd-by-four {
		left: 33.33333333%;
	}
	.push-wd-by-three {
		left: 25%;
	}
	.push-wd-by-two {
		left: 16.66666667%;
	}
	.push-wd-by-one {
		left: 8.33333333%;
	}
	.push-wd-by-none {
		left: 0%;
	}

	.pull-wd-by-twelve {
		right: 100%;
	}
	.pull-wd-by-eleven {
		right: 91.66666667%;
	}
	.pull-wd-by-ten {
		right: 83.33333333%;
	}
	.pull-wd-by-nine {
		right: 75%;
	}
	.pull-wd-by-eight {
		right: 66.66666667%;
	}
	.pull-wd-by-seven {
		right: 58.33333333%;
	}
	.pull-wd-by-six {
		right: 50%;
	}
	.pull-wd-by-five {
		right: 41.66666667%;
	}
	.pull-wd-by-four {
		right: 33.33333333%;
	}
	.pull-wd-by-three {
		right: 25%;
	}
	.pull-wd-by-two {
		right: 16.66666667%;
	}
	.pull-wd-by-one {
		right: 8.33333333%;
	}
	.pull-wd-by-none {
		right: 0%;
	}

}