/*	==================================

	:: Hovers

=================================== */

//  Dim element on hover by adding the dim class.

.dim {
	opacity: 1;
	transition: opacity .15s ease-in;
}
.dim:hover,
.dim:focus {
	opacity: .5;
	transition: opacity .15s ease-in;
}
.dim:active {
	opacity: .8;
	transition: opacity .15s ease-out;
}