/*	==================================
	:: Overflow
=================================== */

.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflow-x-visible { overflow-x: visible; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }

.overflow-y-visible { overflow-y: visible; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }

@include respond-to-min(narrow) {
	.overflow-visible-nw { overflow: visible; }
	.overflow-hidden-nw { overflow: hidden; }
	.overflow-scroll-nw { overflow: scroll; }
	.overflow-auto-nw { overflow: auto; }
	.overflow-x-visible-nw { overflow-x: visible; }
	.overflow-x-hidden-nw { overflow-x: hidden; }
	.overflow-x-scroll-nw { overflow-x: scroll; }
	.overflow-x-auto-nw { overflow-x: auto; }

	.overflow-y-visible-nw { overflow-y: visible; }
	.overflow-y-hidden-nw { overflow-y: hidden; }
	.overflow-y-scroll-nw { overflow-y: scroll; }
	.overflow-y-auto-nw { overflow-y: auto; }
}

@include respond-to-min(small) {
	.overflow-visible-sm { overflow: visible; }
	.overflow-hidden-sm { overflow: hidden; }
	.overflow-scroll-sm { overflow: scroll; }
	.overflow-auto-sm { overflow: auto; }

	.overflow-x-visible-sm { overflow-x: visible; }
	.overflow-x-hidden-sm { overflow-x: hidden; }
	.overflow-x-scroll-sm { overflow-x: scroll; }
	.overflow-x-auto-sm { overflow-x: auto; }

	.overflow-y-visible-sm { overflow-y: visible; }
	.overflow-y-hidden-sm { overflow-y: hidden; }
	.overflow-y-scroll-sm { overflow-y: scroll; }
	.overflow-y-auto-sm { overflow-y: auto; }
}

@include respond-to-min(medium) {
	.overflow-visible-md { overflow: visible; }
	.overflow-hidden-md { overflow: hidden; }
	.overflow-scroll-md { overflow: scroll; }
	.overflow-auto-md { overflow: auto; }

	.overflow-x-visible-md { overflow-x: visible; }
	.overflow-x-hidden-md { overflow-x: hidden; }
	.overflow-x-scroll-md { overflow-x: scroll; }
	.overflow-x-auto-md { overflow-x: auto; }

	.overflow-y-visible-md { overflow-y: visible; }
	.overflow-y-hidden-md { overflow-y: hidden; }
	.overflow-y-scroll-md { overflow-y: scroll; }
	.overflow-y-auto-md { overflow-y: auto; }
}

@include respond-to-min(large) {
	.overflow-visible-lg { overflow: visible; }
	.overflow-hidden-lg { overflow: hidden; }
	.overflow-scroll-lg { overflow: scroll; }
	.overflow-auto-lg { overflow: auto; }

	.overflow-x-visible-lg { overflow-x: visible; }
	.overflow-x-hidden-lg { overflow-x: hidden; }
	.overflow-x-scroll-lg { overflow-x: scroll; }
	.overflow-x-auto-lg { overflow-x: auto; }

	.overflow-y-visible-lg { overflow-y: visible; }
	.overflow-y-hidden-lg { overflow-y: hidden; }
	.overflow-y-scroll-lg { overflow-y: scroll; }
	.overflow-y-auto-lg { overflow-y: auto; }
}

@include respond-to-min(wide) {
	.overflow-visible-wd { overflow: visible; }
	.overflow-hidden-wd { overflow: hidden; }
	.overflow-scroll-wd { overflow: scroll; }
	.overflow-auto-wd { overflow: auto; }

	.overflow-x-visible-wd { overflow-x: visible; }
	.overflow-x-hidden-wd { overflow-x: hidden; }
	.overflow-x-scroll-wd { overflow-x: scroll; }
	.overflow-x-auto-wd { overflow-x: auto; }

	.overflow-y-visible-wd { overflow-y: visible; }
	.overflow-y-hidden-wd { overflow-y: hidden; }
	.overflow-y-scroll-wd { overflow-y: scroll; }
	.overflow-y-auto-wd { overflow-y: auto; }
}