/*	==================================
	:: Visibility
=================================== */

.clip {
	position: fixed !important;
	_position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

@include respond-to-min(narrow) {
	.clip-nw {
		position: fixed !important;
		_position: absolute !important;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}
}

@include respond-to-min(medium) {
	.clip-md {
		position: fixed !important;
		_position: absolute !important;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}
}

@include respond-to-min(large) {
	.clip-lg {
		position: fixed !important;
		_position: absolute !important;
		clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
		clip: rect(1px, 1px, 1px, 1px);
	}
}
