.event {

	line-height: $lh-title;



	@include respond-to-min(large) {
		padding-right: 1rem;
		&:last-child {
			padding-right: 0;
		}
	}
}

.event > a {
	display: block;
	border-top: 1px solid $lightest-base;
	border-bottom: 2px solid $lightest-base;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: $base;
	transition: border 0.35s ease;

	&:hover {
		border-color: $brand-primary;
	}
}

.event-date {
	color: $light-base;
	font-size: 0.75em;
	display: block;
	text-transform: uppercase;
}