.event {
	background-color: $brand-primary;
	text-align: center;
	color: darken($brand-primary, 48%);
	line-height: $lh-title;
	padding: 0.5rem 1rem;
	//position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.75rem;

	.home & {
		position: fixed;
		z-index: 1;
	}

	@include respond-to-min(small) {
		padding: 1rem;
	}

	@include respond-to-min(medium) {
		font-size: 0.875rem;
	}
}

.event-heading {
	display: none;
	font-weight: 700;
	text-transform: uppercase;

	@include respond-to-min(medium) {
		display: inline;
	}
}

.event-date {
	font-size: 0.785rem;
	letter-spacing: 1px;
	margin-bottom: 0;
}
