/* RM Pro Regular */
@font-face {
	font-family: RM Pro;
	src:	url('../fonts/hinted-RMPro-Regular.woff') format('woff'),
	url('../fonts/hinted-RMPro-Regular.eot') format('eot');
	font-weight: 500;
	font-style: normal;
}

/* RM Pro Regular Italic */
@font-face {
	font-family: RM Pro;
	src:	url('../fonts/hinted-RMPro-RegularItalic.woff') format('woff'),
	url('../fonts/hinted-RMPro-RegularItalic.eot') format('eot');
	font-weight: 500;
	font-style: italic;
}

/* RM Pro Bold Italic */
@font-face {
	font-family: RM Pro;
	src:	url('../fonts/hinted-RMPro-BoldItalic.woff') format('woff'),
	url('../fonts/hinted-RMPro-BoldItalic.eot') format('eot');
	font-weight: 700;
	font-style: italic;
}

/* RM Pro Bold */
@font-face {
	font-family: Rm Pro;
	src:	url('../fonts/hinted-RMPro-Bold.woff') format('woff'),
	url('../fonts/hinted-RMPro-Bold.eot') format('eot');
	font-weight: 700;
	font-style: normal;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	text-rendering: optimizeLegibility;
	-webkit-overflow-scrolling: none;
	-moz-font-feature-settings:    "kern" 1;
	-ms-font-feature-settings:     "kern" 1;
	-o-font-feature-settings:      "kern" 1;
	-webkit-font-feature-settings: "kern" 1;
	font-feature-settings:         "kern" 1;
	font-kerning: normal;

	background-color: #ffffff;
	font-family: $ff-primary;
	font-size: $fs-base;
	line-height: $lh-copy;
	color: #343434;
}

body {
	@include respond-to-min(large) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	@include respond-to-min(wide) {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	colour: #121212;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

a {
	color: $brand-primary;
	text-decoration: none;
	transition: color 0.35s $cubic-bezier;

	&:hover {
		color: $brand-primary-darken;
	}
}

.title {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

.site-container {
	background-color: #fff;
	max-width: 100rem;
	margin-left: auto;
	margin-right: auto;
}

.accordion__content {
	@include respond-to-min(small) {
		display: block !important;
	}
}
.social-links > a {
	transition: opacity 350ms ease;
	vertical-align: middle;

	&:hover {
		opacity: 0.65;
	}
}

.social-links {
	.site-header & {
		padding-top: 2rem;
		padding-left: 3.125rem;
		padding-right: 3.125rem;

		@include respond-to-min(large) {
			padding: 0;
			display: inline-block;
			vertical-align: middle;
		}
	}
}