.announcement {
	padding: 12px 20px;
}

.announcement__general {
	background-color: lighten($background, 25%);
	color: darken($background, 25%);
	text-align: center;
	font-size: 0.875em;
}

.announcement__market {
	background-color: $lightest-grey;
	color: $dark-grey;
}

.announcement a {
	color: darken($highlight, 30%);
	text-decoration: underline;
	font-weight: 700;
	&:hover {
		text-decoration: none;
	}
}

