.site-announcement {
	background-color: $background;
	text-align: center;
	color: #fff;
	padding: 20px;
}

.site-announcement a {
	color: darken($highlight, 30%);
	text-decoration: underline;
	font-weight: 700;
	&:hover {
		text-decoration: none;
	}
}
