.flair {
	background-color: $lighter-grey;
	padding: 40px 20px;

	@include respond-to(medium) {
		padding: 50px 20px;
		text-align: center;
	}
}

.flair .title {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	@include respond-to(medium) {
		font-size: 2em;

	}

}

.flair .btn {
	padding: 12px 16px;
	font-size: 1.25em;
}
