.logo {
	margin: 0 auto;
	width: 160px;
	@include transition(all, 280ms, cubic-bezier(.4, 0, .2, 1));
	&:hover {
		opacity: 0.55;
	}
	@include respond-to(medium) {
		width: 180px;
	}
	@include respond-to(large) {
		width: 220px;
	}
}

.brand {
	line-height: 1;

	display: block;
}


