.logo {
	margin: 0 auto;
	width: 240px;
	@include transition(all, 280ms, cubic-bezier(.4, 0, .2, 1));
	&:hover {
		opacity: 0.55;
	}
	@include respond-to(large) {
		margin-bottom: 30px;
	}
}

.brand {
	line-height: 1;
	padding: 20px;
	display: block;
}


