// Globals

nav ul,
nav ol {
	padding-left: 0;
	margin: 0;
}

.menu--vertical > li {
	display: inline-block;
}

.menu--vertical > li > a {
	display: inline-block;
	text-align: center;
	padding: 8px 15px;
}

.menu > li > a {
	text-decoration: none;
	color: $highlight;
	@include transition(color, 280ms, cubic-bezier(.4, 0, .2, 1));
	&:hover {
		color: darken($highlight, 20%);
	}
}

.menu-inline-list a {
	margin-right: 5px;
	&:hover {
		text-decoration: none;
	}
}

// Main Nav

.main-nav {
	background-color: $highlight;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	display: none;
	padding-top: 50px;
	overflow-y: auto;
}

.show-menu .main-nav {
	display: block;
}

.menu-header {
	height: 50px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.menu-header a {
	color: #fff;
	&:hover {
		color: lighten($highlight, 25%);
	}
}

.menu-header .navbar-logo {
	display: block;
	text-align: center;
}

.main-nav .menu {
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}

.main-nav .menu > li > a {
	display: block;
	padding: 15px 30px;
	font-weight: 700;
	color: #fff;
	position: relative;
}

.main-nav .menu > li > a:hover {
	background-color: darken($highlight, 10%);
}

.nav-hr {
	display: none;
	height: 6px;
	width: 0;
	background-color: $highlight;
	position: absolute;
	bottom: 3px;
	left: 0;
	z-index: -1;
	@include transition(all, 280ms, cubic-bezier(.4, 0, .2, 1));
}

@include respond-to(medium) {
	.nav-hr {
		display: block;
	}
	.show-menu .main-nav,
	.main-nav {
		display: block;
		background-color: transparent;
		height: auto;
		width: auto;
		position: static;
		padding-top: 0;
	}
	.menu-header {
		display: none;
	}
	.main-nav .menu > li {
		display: inline-block;
		font-size: 0.875em;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 8px 15px;
	}
	.main-nav .menu > li > a {
		font-weight: 700;
		text-decoration: none;
		color: $dark-grey;
		padding: 0;
		&:hover {
			background-color: transparent;
			.nav-hr {
				width: 100%;
				display: block;
			}
		}
	}
	.main-nav .menu > li > a.active {
		.nav-hr {
			width: 100%;
			display: block;
		}
		&:hover {
			.nav-hr {
				background-color: darken($highlight, 15%);

			}
		}
	}
}

// Nav Bar

.navbar {
	background-color: #fff;
	border-bottom: 1px solid $lighter-grey;
	height: 50px;
	width: 100%;
	position: fixed;
	z-index: 5;
	overflow: hidden;
	text-align: center;
	left: 0;
	top: 0;
	@include respond-to(medium) {
		display: none;
	}
}

.navbar-logo {
	display: block;
	line-height: 50px;
	color: $mid-grey;
}
.navbar-btn {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	z-index: 1;
}

.navbar-btn {
	color: $highlight;
	line-height: 53px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.35em;
	&:hover {
		text-decoration: none;
	}
}

.navbar-location {
	width: 68%;
	float: left;
	line-height: 50px;
}

.navbar .svg {
	color: #fff;
}

