.product-card {
	background: #fff;
	margin-bottom: 40px;
}

.product-title {
	text-transform: uppercase;
	font-size: 1em;
}

.product-details {
	background: #fff;
	padding: 10px 0px 20px;
	text-align: center;
}

.product-img-box > a {
	display: block;
}