.product-card {
	background: #fff;
	box-shadow: 0px 3px 8px -4px #efefef;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 8px -4px;
	margin-bottom: 40px;
}

.product-title {
	text-transform: uppercase;
	font-size: 1em;
}

.product-details {
	background: #fff;
	padding: 10px 20px 20px;
}